[psana]

# ***the discriminator module is required***

#modules = PrintSeparator cspad_mod.CsPadCalib kitty.discriminate kitty.correct kitty.assemble
modules = PrintSeparator cspad_mod.CsPadCalib kitty.discriminate kitty.assemble kitty.correlate
#modules = PrintSeparator kitty.discriminate kitty.correct kitty.assemble kitty.correlate
#modules = PrintSeparator kitty.discriminate kitty.correct kitty.assemble
#modules = PrintSeparator kitty.discriminate kitty.correct kitty.makemask


# ---------------------------------------------------------------------------
[cspad_mod.CsPadCalib]
# inputKey         : string key used to locate uncalibrated data objects in event
#                  : (default is empty)
#                  : 
# outputKey        : string key used to store calibrated data objects in event
#                  : (default is "calibrated")
#                  : 
# doPedestals      : can be set to "no" to explicitly disable pedestal subtraction algorithm
#                  : (default is "yes") 
#                  : 
# doPixelStatus    : can be set to "no" to explicitly disable reading of pixel status data, all pixels will be used for common mode
#                  : (default is "yes") 
#                  : 
# doCommonMode     : (default is "yes") – can be set to "no" to explicitly disable common mode algorithm
#                  : (default is "yes") 
#                  : 
# ---------------------------------------------------------------------------
doPedestals = yes
doPixelStatus = yes
doCommonMode = yes




# ---------------------------------------------------------------------------
[kitty.discriminate]
# discriminate for intensity,
# it also reads CSPAD data and prepares it for further processing (required for everything else)
# consider events 'hits' when the raw average pixel intensity is between lower and upper threshold
# 
# lowerThreshold   : minimum average pixel value to accept
#                  : depends on corrections that may have been applied in earlier modules
#                  : (default is -10000000)
#                  : 
# upperThreshold   : maximum average pixel value to accept
#                  : depends on corrections that may have been applied in earlier modules
#                  : (default is 10000000)
#                  : 
# maxHits          : stop processing after this many hits have been found
#                  : (default is 10000000)
#                  : 
# useShift         : toggles possibility to shift beam center
#                  : 
# shiftX           : x-coordinate of beam position in pixels (of assembled image)
#                  : 
# shiftY           : y-coordinate of beam position in pixels (of assembled image)
#                  : 
# detOffset        : offset of detector [mm] in beam direction
#                  : stage is at -500mm when at closest position
#                  : for cxi35711: rings of Ag-Behenate at z=0 --> L=549mm 
#                  :               Sebastien measured distance between solid targets and
#                  :               interaction region to 1.125 inches=28.5mm "to 1mm accuracy"
#                  : 
# dataSource       : 
#                  : (default is CxiDs1.0:Cspad.0)
# calibSource      : 
#                  : (default is /reg/d/psdm/CXI/cxi35711/calib)
# calibDir         : 
#                  : (default is CsPad::CalibV1)
# typeGroupName    : 
#                  : (default is true)
# tiltIsApplied    : 
#                  : (default is 0)
#                  : 
# calibRunNumber   : determines number of the run to lookup calib data
#                  : (default is determined by the actual run in the xtc file)
#                  : 
#                  : 
#                  : 
# ---------------------------------------------------------------------------
#lowerThreshold = 1170
lowerThreshold = 4
#lowerThreshold = 1175
#upperThreshold = 1185

maxHits = 10

useShift = 1
shiftX = 862
shiftY = 860

detOffset = 577.5

dataSource = CxiDs1.0:Cspad.0
#dataSource = CxiDsd.0:Cspad.0

calibSource = CxiDs1.0:Cspad.0
calibDir = /reg/d/psdm/CXI/cxi35711/calib
#calibDir = /reg/neh/home/feldkamp/cxi35711_calib_copy
typeGroupName = CsPad::CalibV1
tiltIsApplied = true




# ---------------------------------------------------------------------------
[kitty.correct]
# background and gain correction
# expects 1D edf files (extension .edf)
# or 2d "raw" HDF5 files (extension .h5)
# 
# useBackground    : toggles use of background correction
#                  : (default is 0)
#                  : 
# background       : background file
#                  : (default is "")
#                  : 
# useGainmap       : toggles use of the gain correction
#                  : (default is 0)
#                  : 
# gainmap          : gainmap file
#                  : (default is "")
#                  : 
# useMask          : toggles use of a mask
#                  : (default is 0)
#                  : 
# mask             : mask file
#                  : (default is "")
#                  : 
# ---------------------------------------------------------------------------
useBackground = 1
background = /reg/neh/home/feldkamp/ana/DARK/DARK_r0018_1D.edf
useGainmap = 0
gainmap = /reg/neh/home/feldkamp/ana/FLAT/FLAT_r0011_1D.edf
useMask = 0
#mask = /reg/neh/home/feldkamp/ana/MASK/MASK_3rd_1D.edf
mask = /reg/neh/home/feldkamp/cxi35711/scratch/bad_pixel_masks/mask_r0007.h5




# ---------------------------------------------------------------------------
[kitty.correlate]
# apply correlation
# 
# tifOut           : toggles tif output
#                  : (default is 0)
#                  : 
# edfOut           : toggles edf output
#                  : (default is 0)
#                  : 
# h5Out            : toggles hdf5 output
#                  : (default is 0)
#                  : 
#                  : 
# singleOutput     : toggles output for every single shot 
#                  : the number determines the write frequency, e.g.
#                  :     100: write every hundredth shot
#                  :     1: write every shot
#                  :     0: write final averaged output to disk only
#                  : (default is 0)
#                  : 
# outputPrefix     : prefix for the correlation output
#                  : (default is corr)
#                  : 
# useMask          : toggles use of a mask
#                  : (default is 0)
#                  : 
# mask             : mask file
#                  : (default is "")
#                  : 
# algorithm        : selects the algorithm to be used for the correlation computation
#                  : (algorithm 1) DIRECT COORDINATES, DIRECT XCCA 
#                  : (algorithm 2) FAST COORDINATES, FAST XCCA
#                  : (algorithm 3) DIRECT COORDINATES, FAST XCCA 
#                  : (algorithm 4) FAST COORDINATES, DIRECT XCCA 
#                  : 
# nPhi             : number of angular bins on a full circle
#                  : (default is 128)
#                  : 
# nQ1              : number radial bins (|q| values)
#                  : (default is 1)
#                  : 
# nQ2              : second number radial bins (|q| values) used in full cross-correlation
#                  : nQ2 is ignored when autoCorrelateOnly is switched on
#                  : (default is 1)
#                  : 
# startQ           : start value for |q|
#                  : (default is 0)
#                  : 
#                  : 
# stopQ            : stop value for |q|
#                  : (default is startQ+nQ1)
#                  : 
# LUTx             : size of the lookup table in x, only needed for alg 2 & 4
#                  : (default is 100)
#                  : 
# LUTy             : size of the lookup table in y, only needed for alg 2 & 4
#                  : (default is 100)
#                  : 
# ---------------------------------------------------------------------------
tifOut = 0
edfOut = 0
h5Out = 1

singleOutput = 1
outputPrefix = corr

algorithm = 1
autoCorrelateOnly = 1

useMask = 1
mask = /reg/neh/home/feldkamp/ana/MASK/MASK_2nd_1D.edf

nPhi = 1024
nQ1 = 140
nQ2 = 1

startQ = 100
stopQ = 800

LUTx = 1000
LUTy = 1000





# ---------------------------------------------------------------------------
[kitty.assemble]
# create raw and assembled CSPAD images
#                  : 
# tifOut           : toggles tif output
#                  : (default is 0)
#                  : 
# edfOut           : toggles edf output
#                  : (default is 0)
#                  : 
# h5Out            : toggles hdf5 output
#                  : (default is 0)
#                  : 
#                  : 
# singleOutput     : toggles output for every single shot 
#                  : the number determines the write frequency, e.g.
#                  :     100: write every hundredth shot
#                  :     1: write every shot
#                  :     0: write final averaged output to disk only
#                  : (default is 0)
#                  : 
# useNormalization : normalize average before output 
#                  : (0) not at all
#                  : (1) to mean 
#                  : (2) to max
#                  : (default is 1)
#                  : 
# ---------------------------------------------------------------------------
outputPrefix = thresh4
tifOut = 0
edfOut = 0
h5Out = 1
singleOutput = 1
useNormalization = 1




# ---------------------------------------------------------------------------
[kitty.makemask]
# create a mask that can be used in the correct module later
#                        : 
# badPixelLowerBoundary  : 
# badPixelUpperBoundary  : 
#                        : 
# useMask                : toggles use of a previously defined mask
#                        : the produced mask will be based on the read-in one
#                        : (default is 0)
#                        : 
# mask                   : mask file
#                        : (default is "")
#                        : 
# takeOutThirteenthRow   : 
#                        : 
#                        : 
# takeOutASICFrame       : 
#                        : 
# outputPrefix           : prefix for the correlation output
#                        : (default is corr)
#                        : 
# ---------------------------------------------------------------------------
badPixelLowerBoundary = 70
badPixelUpperBoundary = 200

useMask = 0
mask = /reg/neh/home/feldkamp/ana/MASK/MASK_1st_1D.edf

takeOutThirteenthRow = 1
takeOutASICFrame = 1

outputPrefix = MASK_1st



